<html>

<head>
    <title>AddEmployee</title>
</head>
<style>
    .add {
        text-align: center;
    }
</style>

<body>
    <div class="add">
        <form action="/addEmployee" method="POST">
            <label>User Name</label>
            <input type="text" name="username">
            <br>
            <br>
            <label>Age</label>
            <input type="number" name="age">
            <br><br>
            <input type="submit" value="Save">
    </div>
    </form>
</body>

</html>